* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;

  > button {
    margin-bottom: 30px;
  }
}